*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buton{
    margin-top: 30px !important;
}
.bottem_txt{
    margin: 18px 0 0 0;
    p{
        font-size: 16px;
        font-weight: 600;
        a{
            text-decoration: none;
        }
    }
}